@import "generic";

#nav-about button{
    &:active, &:visited, &:hover{
        background-color: $teal-step1;
        color: #eeeeee;
    }
}

#nav-work button{
    &:active, &:visited, &:hover{
        background-color: #ffffff50; 
        color: #eeeeee;
    }
}

#nav-techniques button{
    &:active, &:visited, &:hover{
        background-color: $teal-step3;
        color: #eeeeee;
    }
}

#nav-contact button{
    &:active, &:visited, &:hover{
        background-color: $teal-step4;
        color: #eeeeee;
    }
}

.gradient{
    background-image: linear-gradient(to bottom right, $teal-step1 30%, $teal-step4 120%);
}