#nav-about button{
    &:active, &:visited, &:hover{
        background-color: $trans-teal;
        color: #eeeeee;
    }
}

#nav-work button{
    &:active, &:visited, &:hover{
        background-color: #ffffff50; 
        color: #eeeeee;
    }
}

#nav-techniques button{
    &:active, &:visited, &:hover{
        background-color: $trans-gold;
        color: #eeeeee;
    }
}

#nav-contact button{
    &:active, &:visited, &:hover{
        background-color: $trans-red;
        color: #eeeeee;
    }
}

.gradient{
    background-image: linear-gradient(to bottom right, $lavender 30%, $off-lavender 120%);
}