@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

$background-color: hsla(32, 63, 95, 1);
$underline-color: hsla(31, 55, 70, 1);
$accent-color: hsla(191, 34, 40, 1);
$primary-text-color: hsla(0, 0, 20, 1);
$secondary-text-color: hsla(0, 0, 20, .5);

$sans: "Lexend Zetta";
$serif: "Zilla Slab";